/* includes shared resources (fonts, styles, etc.) */

@font-face{
	font-family: FiraSans-Regular;
	src: url("fonts/FiraSans-Regular.ttf");
}

@font-face{
	font-family: NexaRust;
    src: url("fonts/NexaRustScriptL-0.otf");
}

@font-face{
	font-family: Quicksand;
    src: url("fonts/Quicksand-Regular.otf");
}

*{
    padding: 0;
    margin: 0;
	text-decoration: none;
}

body{
	overflow-x: hidden;
    background-color: #0c77c9;
}

input[type="button"]{
	outline: 0;
	border: 0;
	cursor: pointer;
}

input{
	-webkit-appearance: none;
}

a, a:visited, a:active: a:hover, a:link{
	outline: 0;
	border: 0;
	color: none;
	text-decoration: none;
}

 /* center containers */
#containers_wrapper{
    width: 100%;
    height: 100%;
    background: #0c77c9;
    position: absolute;
    display: flex;
    justify-content: center;
}

#content_container{
    width: 530px;
    height: 100%;
    background: red;
    display: flex;
}

/* input fields */
.input_container{
    width: calc(100%);
    height: 50px;
    background: #fff;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.input_field{
    width: calc(100% - 20px);
    height: 50px;
    border: 0;
    outline: 0;
    font-family: FiraSans-Regular;
    font-size: 20px;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    /* background: #d7d7d7; */
    background: #fff;
    transition: width .5s;
}

.input_field::placeholder{
    color: #000;
}

/* title */
.title{
    width: calc(100% - 30px);
    height: auto;
    background: ;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: NexaRust;
    font-size: 80px;
    color: #fff;
}

/* show icon */
.pass.show{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:#d7d7d7; */
    background: #fff;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    cursor: pointer;
}

.show_icon{
    width: 35px;
    height: 23px;
}

.show_icon::selection{
    background: none;
    color: none;
}

.show_icon::-moz-selection{
    background: none;
    color: none;
}

/* css for menu */
