@media screen and (max-width: 850px){
    .side_shields{
        width: 0px;
    }

    #content_container{
        width: 100%;
    }

    .form_container.login.hidden{
        margin-left: -100%;
    }

    .form_container.register.hidden{
        margin-left: 100%;
    }

    .input_container{
        width: calc(100% - 30px);
    }
}