#content_container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pass_repeat_input{
    margin-bottom: 15px;
    transition: 0s;
}

#reset_pass{
    font-family: FiraSans-Regular;
    font-size: 18px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
}

#pass_req_container{
    width: calc(100%);
    height: auto;
    background: #d3d3d3;
    color: #424949;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pass_req_title{
    width: calc(100% - 20px);
    height: auto;
    background: #3b5999;
    color: #fff;
    font-family: FiraSans-Regular;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#pass_req_text{
    width: calc(100% - 20px);
    font-family: FiraSans-Regular;
    padding: 10px;
}

.pass_req_item{
    padding: 5px;
    margin-left: 20px;
}

#pass_login{
    padding-right: 20px;
}

#pass_input{
    width: calc(100% - 65.09px);
}

#pass_input.extended, #pass_repeat_input.extended{
    width: calc(100% - 65.09px - 40px);
}

.valid_symbol{
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-family: FiraSans-Regular;
    transition: width .5s, background .5s;
}

.valid_symbol.hidden{
    width: 0;
}

.valid_symbol.valid{
    background: #27ae61;
}

.valid_symbol.invalid{
    background: #c1392d;
}

.tick, .cross{
    transition: .2s;
    transition-delay: .2s;
}

.tick.hidden, .cross.hidden{
    font-size: 0;
}


#reg_continue_butn{
    background: #000;
    color: #fff;
    font-family: FiraSans-Regular;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	margin-bottom: 0;
}

#reg_error_box{
    width: calc(100%);
    height: auto;
    background: #e13d46;
    margin-bottom: 15px;
    padding-top: 15px;
    transition: .2s;
}

#reg_error_box.hidden{
    height: 0;
    padding: 0;
    margin: 0;
}

.reg_error_item_container{
    width: calc(100% - 30px);
    height: auto;
    padding: 1px; /* space between items */
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    background: none;
    font-family: FiraSans-Regular;
    font-size: 18px;
    color: #fff;
    transition: .2s;
}

.reg_error_item_container.hidden{
    width: 0;
    font-size: 0;
}

.reg_err_item_dash{
    width: 15px;
    height: 100%;
    padding-right: 5px;
    background: none;
    display: flex;
    justify-content: flex-end;
}

.reg_err_item{
    width: 470px;
    height: 100%;
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#reg_error_bar{
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    background: #b8312f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FiraSans-Regular;
    font-size: 20px;
    transition: .2s;
    margin-top: 15px;
}
