#content_container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pass_repeat_input{
    margin-bottom: 15px;
    transition: 0s;
}

#reset_pass{
    font-family: FiraSans-Regular;
    font-size: 18px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
}

#pass_req_container{
    width: calc(100%);
    height: auto;
    background: #d3d3d3;
    color: #424949;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pass_req_title{
    width: calc(100% - 20px);
    height: auto;
    background: #3b5999;
    color: #fff;
    font-family: FiraSans-Regular;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#pass_req_text{
    width: calc(100% - 20px);
    font-family: FiraSans-Regular;
    padding: 10px;
}

.pass_req_item{
    padding: 5px;
    margin-left: 20px;
}

#pass_login{
    padding-right: 20px;
}

#pass_input{
    width: calc(100% - 65.09px);
}

#pass_input.extended, #pass_repeat_input.extended{
    width: calc(100% - 65.09px - 40px);
}

.valid_symbol{
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-family: FiraSans-Regular;
    transition: width .5s, background .5s;
}

.valid_symbol.hidden{
    width: 0;
}

.valid_symbol.valid{
    background: #27ae61;
}

.valid_symbol.invalid{
    background: #c1392d;
}

.tick, .cross{
    transition: .2s;
    transition-delay: .2s;
}

.tick.hidden, .cross.hidden{
    font-size: 0;
}
