@font-face{
	font-family: FiraSans-Regular;
	src: url("fonts/FiraSans-Regular.ttf");
}

@font-face{
	font-family: Chunkfive;
	src: url("fonts/Chunkfive.otf");
}

@font-face{
	font-family: FiraSans-Medium;
	src: url("fonts/FiraSans-Medium.ttf");
}

@font-face{
	font-family: Quicksand-Regular;
	src: url("fonts/Quicksand-Regular.otf");
}

*{
	padding: 0;
	margin: 0;
}

.flex_container{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* !important, used to override some of the default style options */
.tooltip{
	font-family: FiraSans-Regular;
	font-size: 15px;
	color: #fff;
	background-color: #000;
	box-shadow: none !important;
	border-radius: 0 !important;
	border: 0 !important;
	outline: 0 !important;
	padding: 10px;
}

.tooltip_error{
	background-color: #C23A2E;
	color: #fff;
	font-family: FiraSans-Regular;
	font-size: 15px;
	box-shadow: none !important;
	border-radius: 0 !important;
	border: 2px solid #B92B27 !important;
	outline: 0 !important;
	padding: 10px;
}
